@font-face {
    font-family: "DIN 2014", sans-serif;
    src: url("./fonts/DIN2014-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "DIN 2014", sans-serif;
    src: url("./fonts/DIN2014-Regular.ttf") format("truetype");
    font-weight: normal;
}

h1, h2, h3, h5, h6 {
    color: #232323;
    font-family: "DIN 2014", sans-serif;
    font-weight: bold !important;
}

h4 {
    color: #00d46b;
    font-family: "DIN 2014", sans-serif;
    font-weight: bold !important;
}

p {
    color: #232323;
    font-family: "DIN 2014", sans-serif;
    font-weight: normal !important;
    opacity: 0.6;
}

a {
    font-family: "DIN 2014", sans-serif;
    font-weight: normal !important;
}