section {
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width: 995px) {
    section {
        flex-direction: column;
    }
}

section > div {
    flex: 1;
    padding: 0.5rem;
}

input[type="radio"] {
    display: none;
    color: white;
}

    input[type="radio"]:not(:disabled) ~ label {
        cursor: pointer;
        color: white;
    }

    input[type="radio"]:disabled ~ label {
        color: hsla(150, 5%, 75%, 1);
        border-color: hsla(150, 5%, 75%, 1);
        box-shadow: none;
        cursor: not-allowed;
    }

label {
    height: 100%;
    display: block;
    color: white;
    background: white;
    border: 2px solid hsla(150, 75%, 50%, 1);
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
}

label:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

input[type="radio"]:checked + label h2 {
    color: white;
}

input[type="radio"]:checked + label p {
    color: white;
    opacity: 0.9;
}

/*Question 1*/

input[type="radio"]#question1_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question1_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question1_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question1_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question1_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question1_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question1_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question1_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question1_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 2*/

input[type="radio"]#question2_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question2_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question2_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question2_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question2_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question2_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question2_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question2_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question2_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 3*/

input[type="radio"]#question3_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question3_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question3_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question3_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question3_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question3_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question3_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question3_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question3_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 4*/

input[type="radio"]#question4_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question4_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question4_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question4_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question4_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question4_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question4_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question4_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question4_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 5*/

input[type="radio"]#question5_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question5_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question5_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question5_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question5_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question5_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question5_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question5_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question5_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 6*/

input[type="radio"]#question6_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question6_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question6_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question6_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question6_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question6_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question6_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question6_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question6_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 7*/

input[type="radio"]#question7_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question7_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question7_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question7_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question7_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question7_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question7_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question7_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question7_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}

/*Question 8*/

input[type="radio"]#question8_1:not(:checked) + label {
    border: 2px solid #00d46b;
}

input[type="radio"]#question8_2:not(:checked) + label {
    border: 2px solid #FF9803;
}

input[type="radio"]#question8_3:not(:checked) + label {
    border: 2px solid #ff6235;
}

input[type="radio"]#question8_3:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #ff6235;
}

input[type="radio"]#question8_2:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #FF9803;
}

input[type="radio"]#question8_1:checked + label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px #00d46b;
}

input[type="radio"]#question8_1:checked + label {
    background: #00d46b;
    border-color: #00d46b;
}

input[type="radio"]#question8_2:checked + label {
    background: #FF9803;
    border-color: #FF9803;
}

input[type="radio"]#question8_3:checked + label {
    background: #ff6235;
    border-color: #ff6235;
}