<!DOCTYPE html>
<html>
<head>
    <title>WELKOM</title>
</head>
<body>
    <h1>Bedankt!</h1>
<p>
    Hartelijk dank voor het invullen van onze Rockstars IT Health Check-vragenlijst.
    We waarderen het zeer dat je de tijd hebt genomen om ons te helpen het team te verbeteren.
    Jouw antwoorden zullen ons helpen om inzicht te krijgen in waar we ons kunnen verbeteren en hoe we ons kunnen blijven ontwikkelen.
</p>
<p>
        We willen benadrukken dat de vragenlijst niet voor verdere doeleinde en dat de antwoorden alleen worden gebruikt om ons te helpen het team te verbeteren
    Nogmaals, bedankt voor je deelname en we hopen dat je de vragenlijst met plezier hebt ingevuld.
</p>
</body>
</html>
