@model FormSubmissionModel
<!DOCTYPE html>
<html>
<head>
    <title>WELKOM</title>
</head>
<body>
<h1>Bedankt!</h1>
<p>
    Hartelijk dank voor het invullen van onze Rockstars IT Health Check-vragenlijst.
    We waarderen het zeer dat je de tijd hebt genomen om ons te helpen het team te verbeteren.
    Jouw antwoorden zullen ons helpen om inzicht te krijgen in waar we ons kunnen verbeteren en hoe we ons kunnen blijven ontwikkelen.
</p>
<p>
    We willen benadrukken dat de vragenlijst niet voor verdere doeleinde en dat de antwoorden alleen worden gebruikt om ons te helpen het team te verbeteren
    Nogmaals, bedankt voor je deelname en we hopen dat je de vragenlijst met plezier hebt ingevuld.
</p>
<h2>Jouw ingevulde vragen</h2>

<hr/>
	@for (int i = 0; i < Model.Answers.Count; i++)
	{
		@for (int x = 0; x < Model.questions.Count; x++)
		{
			if (x == i)
			{
				<h3>@Model.questions[x].Title</h3>
				<p>@Model.questions[x].Description</p>
				<div class="result green">
					@{
						Grading grading = (Grading)Model.Answers[i];
					}
					<h4>Antwoord: @grading
					</h4>
				</div>
				<hr />
			}
		}
	}

<h3>Vraag 1: Toegevoegde waarde</h3>
<p>Heeft het team waardevolle resultaten opgeleverd?</p>
<div class="result green">
	<h4>Antwoord: @Model.Question1</h4>
</div>

<hr/>

<h3>Vraag 2: Release gemak</h3>
<p>Kan het team de applicatie gemakkelijk vrijgeven voor gebruik?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

<hr/>

<h3>Vraag 3: Werkplezier</h3>
<p>Heeft het team plezier in het werken aan dit project?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

<hr/>

<h3>Vraag 4: Codekwaliteit</h3>
<p>Is de code van goede kwaliteit en overzichtelijk geschreven?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

<hr/>

<h3>Vraag 5: Leeropbrengst</h3>
<p>Doet het team nieuwe kennis op door aan dit project te werken?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

<hr/>

<h3>Vraag 6: Missie en doelen</h3>
<p>Heeft het team duidelijke doelen en een visie die alle teamleden begrijpen en ondersteunen?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

<hr/>

<h3>Vraag 7: Eigen inbreng</h3>
<p>Krijgt het team voldoende ruimte om eigen inbreng te hebben in het project?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

<hr/>

<h3>Vraag 8: Snelheid van werken</h3>
<p>Werkt het team efficiënt en snel aan het project?</p>
<div class="result green">
	<h4>Antwoord: Groen</h4>
</div>

</body>
</html>