@model FormSubmissionModel
@using (Html.BeginForm("Form", "Home", FormMethod.Post))
{
    <h1>Squad Health Check</h1>
    <br>
    <h2 class="text-danger">@ViewData["validationMessage"]</h2>

    @for (int y = 0; y < Model.questions.Count; y++)
    {
        <section>
            <div class="question">
                <div>
                    <h2>@Model.questions[y].Title</h2>
                    <div class="paragraph">
                        @Model.questions[y].Description
                    </div>
                </div>
                <div>
                    <input style="" type="radio" class="good" name="question@(y+1)" value="0" id="good@(y+1)">
                    <label class="groen-fade" for="good@(y+1)">
                        <h2>Positive</h2>
                    </label>
                </div>
                <div>
                    <input type="radio" class="average" name="question@(y+1)" value="1" id="average@(y+1)">
                    <label class="oranje-fade" for="average@(y+1)">
                        <h2>Average</h2>
                    </label>
                </div>
                <div>
                    <input type="radio" class="bad" name="question@(y+1)" value="2" id="bad@(y+1)">
                    <label class="rode-fade" for="bad@(y+1)">
                        <h2>Negative</h2>
                    </label>
                </div>
            </div>
        </section>
        <hr>
    }

    <button id="Submit" type="submit" value="submit">Submit</button>
}
