@{
    ViewData["Title"] = "Home Page";
    HttpClient httpClient = new();
    string httpResponseMessage = await httpClient.GetStringAsync("http://localhost:8000/HelloWorld");
    Console.WriteLine(httpResponseMessage);
}
<p>@httpResponseMessage</p>

