@model FormSubmissionModel
<!DOCTYPE html>
<html>
<head>
    <title>WELKOM</title>
</head>
<body>
<h1>Welkom!</h1>
<p>
    We stellen het zeer op prijs dat je de tijd neemt om onze Rockstars IT Health Check-vragenlijst in te vullen.
    Deze vragenlijst is ontworpen om inzicht te krijgen in hoe het team functioneert en waar we ons kunnen verbeteren.
</p>

<p>
    De vragenlijst bestaat uit acht vragen die betrekking hebben op verschillende aspecten van het team.
    We willen graag weten of het team duidelijke doelen en een visie heeft, of de technologie up-to-date is en goed onderhouden wordt, of er een cultuur van open communicatie en feedback is en nog veel meer.
</p>

<p>
    Bij elke vraag kun je aangeven of er ruimte is voor verbetering, of het team oké bezig is of dat we zo door moeten gaan.
    We willen je vragen om de vragenlijst zo eerlijk mogelijk in te vullen, zodat we een duidelijk beeld krijgen van de situatie.
</p>

<p>
    We willen benadrukken dat de vragenlijst niet voor verdere doeleinde en dat de antwoorden alleen worden gebruikt om ons te helpen het team te verbeteren.
    We stellen je deelname zeer op prijs en hopen dat je de vragenlijst met plezier zult invullen. Dank je wel!
</p>
<a asp-area="" asp-controller="Home" asp-action="Form" asp-route-id="@Model.Guid">
    <button>Ga naar Formulier</button>
</a>
</body>
</html>

@{
    ViewData["Title"] = "Home Front Page";
    var v = ViewData["httpResponseMessage"];
}
<p>@v</p>