<!DOCTYPE html>
<html>
<head>
	<title>Werkteam Health Check</title>
</head>
<body>
	<h1>Werkteam Health Check</h1>
	<p>Kies de status van het werkteam:</p>
	<div>
		<a href="#">
			<div class="status-circle green"></div>
			Goed
		</a>
		<a href="#">
			<div class="status-circle orange"></div>
			Gemiddeld
		</a>
		<a href="#">
			<div class="status-circle red"></div>
			Slecht
		</a>
	</div>
</body>
</html>
