@{
    ViewBag.Title = "Fout";
}

<h1>Oeps! Er is iets misgegaan.</h1>
<p>Het lijkt erop dat u een probleem bent tegengekomen tijdens het gebruik van onze website. Dit kan om verschillende redenen gebeurd zijn:</p>

<ul>
    <li>U heeft geprobeerd toegang te krijgen tot een enquête zonder een geldige ID. Deze enquêtes zijn alleen bedoeld voor bedrijven met een uitnodiging en een bijbehorende ID. Als u een geldige ID heeft, controleer dan of u deze correct heeft ingevoerd. Als u hier per ongeluk bent beland, kunt u contact opnemen met de beheerder van de enquête om een geldige ID te verkrijgen.</li>
    <li>De pagina waarnaar u op zoek was, bestaat niet (meer) of is verplaatst.</li>
    <li>Er is een technische fout opgetreden tijdens het verwerken van uw verzoek.</li>
</ul>

<p>Als u verder nog vragen heeft of hulp nodig heeft, kunt u contact opnemen met onze klantenservice via ////////.</p>

<p><a href="@Url.Action("Index", "Home")" class="btn">Ga terug</a></p>


